html,

h1{
    font-family: "Acme";
    text-align: center;
/*    font-size: 100px;*/
}

h2{
    font-family: "IBM+Plex+Serif";
    text-align: center;
/*    font-size: 50px;*/
}

p{
    font-family: "IBM+Plex+Sans";
    text-align: center;
    font-size: 25px;
}

li{
    font-family: "IBM+Plex+Sans";
    text-align: center;
    font-size: 25px;
}

h4{
    font-family: "IBM+Plex+Sans";
    text-align: left;
    /*font-size: 20px;*/
}

h3{
    font-family: "IBM+Plex+Serif";
    text-align: center;
    /*font-size: 25px;*/
}

strong{
    font-family: "IBM+Plex+Serif"
}