html,

h1{
    font-family: "Acme";
    /*text-align: center;*/
}

h2{
    font-family: "IBM+Plex+Serif";
    text-align: center;
}

p{
    font-family: "IBM+Plex+Sans";
    text-align: center;
    font-size: 25px;
}

li{
    font-family: "IBM+Plex+Sans";
    text-align: center;
    font-size: 25px;
}

h4{
    font-family: "IBM+Plex+Sans";
    text-align: left;
}

h3{
    font-family: "IBM+Plex+Serif";
    text-align: center;
}

strong{
    font-family: "IBM+Plex+Serif"
}